<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Render html for Read Text">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Read Text</h1>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/demo-read-text">read-text</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Read text from image.</h2>
    <h3>End points:</h3>
    <ol>
        <li><a href="/" target="_blank" rel="noopener noreferrer">/</a> Home page.</li>
        <li><a href="/demo-read-text" target="_blank" rel="noopener noreferrer">/demo-read-text</a> Render
            html to upload image and get text.</li>
        <li><a href="#">/api</a> Read text API welcome message.</li>
        <li><a href="#">/api/read-text</a> Read text API. Send image and get text.</li>
    </ol>
</main>

<footer>
    <br>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>+84 77 777 5995</p>
    <br>
</footer>
</body>

</html>